/* **********************GOOGLE FONT LINK**************** */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
}

body {
  background-color: #f8f9fd;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  align-items: center;
  width: 100%;
  
}
.container{
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  /* height: auto; */
  width: 300px;

}
.tittle{
  margin: 0;
}
.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;

}
.header{
  background-color: #3e57db;
  color: white;
  padding: 30px 20px ;
}
.header input{
  background-color: rgba(0,0,0,0.3);
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.user-list{
  background-color: #fff;
  list-style-type: none;
  max-height:400px ;
  overflow-y:auto ;

}
.user-list li{
  display: flex;
  padding: 20px;

}
.user-list img{
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;

}
.user-list .user-info{
  margin-left: 10px;

}
.user-list .user-info h4{
  margin: 0 0 10px;
}
.user-list .user-info p{
  font-size: 12px;

}
.user-list li:not(:last-of-type){
  border-bottom: 1px solid #eee;
}
.user-list li.hide{
  display: none;
}